- content_for :page_title, "Editar Nota de Crédito"

.container.mx-auto.px-6.py-6

  -# Header
  .flex.items-center.gap-4.mb-6
    = link_to web_credit_note_path(@credit_note), class: "text-gray-600 hover:text-gray-900" do
      %span.text-xl ←
    %h1.text-3xl.font-bold.text-gray-900
      Editar Nota
      = @credit_note.credit_note_number

  = render "form"
